ignore this files
###############################################################################

*~
.*

###############################################################################
# Ignore this directories
###############################################################################
 
build
node_modules

###############################################################################
# Accept this files
###############################################################################

!.bowerrc
!.editorconfig
!.gitattributes
!.gitignore
!.jshintrc

