ignore this files
###############################################################################

*~
.*

###############################################################################
# Ignore this directories
###############################################################################

build
bower_components

###############################################################################
# Accept this files
###############################################################################

!.bowerrc
!.editorconfig
!.gitattributes
!.gitignore
!.jshintrc

